.coolTitle {
padding-top: 2rem;  
text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
    animation-name:shoping;
    animation-duration:1s;
  animation-iteration-count:initial;
  position: relative;
}

@keyframes shoping {
0% {
  transform: rotate(0deg);
}
20% {
  transform: rotate(720deg);
  }
50% {
transform: rotate(1440deg);
}
75% {
  transform: rotate(720deg);

      transform: rotate(-10deg);
    }
}

.done {
  text-decoration: line-through;
  transition: 1s;
  opacity: 0.6;
  color:green;
padding-right: 1rem;
font-size: small;
}

.delete {
  transition: 1s;
}

body,input,button{
  font-family: 'Montserrat', sans-serif;
}
.container{
  text-align:center;
}


li {
  transition: 1s;
  font-size: large;
  line-height: 2;
list-style: none;
padding-right:0;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
margin:0px 0px 0px 10px;
}